@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using System.Globalization
@inject IOptions<RequestLocalizationOptions> requestLocalizationOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = requestLocalizationOptions.Value.SupportedUICultures?
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
}
<div>
    @foreach (var item in cultureItems!)
    {
        <a href="@Url.Action("SetLanguage","Home",new{ culture = CultureInfo.CurrentCulture.Name, cultureName = item.Value,target = Model })">@item.Text</a>
    }
</div>
